body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: black;
}

.MuiBox-root.track:hover {
  background-color: antiquewhite;
}

.MuiBox-root.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.MuiTypography-root.marquee {
  padding-left: 100%;
  animation: marquee 6s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-200%, 0);
  }
}
